* {text-align: center;
}
.header { 
  background:  #FFCCCC;
  position: fixed;
  top: 0px;
  margin: 0px;
  width: 100%;
  text-align:center; 
  overflow:hidden;
  opacity: 0.8;
  box-shadow: 0 2px 25px rgba(0,00,0.1,9), 0 1px 1px rgba(136, 133, 133, 0.23);
  height:100px
  
} 

.header img {
  display: inline-block;
  float:left;
  margin: 0px 25px 0px 16px;
  padding: 0px 5px 0px 0px;
  

}
.content {
  width: 950px ;
  margin: 250px auto;
  height:2000px ; 
} 
nav ul {
  margin: 0px;
  padding: 5px 200px 5px 0px;
}
nav li {
  display: inline;
  margin-right: 20px;

}
#navbar {
  text-align: center;
  display: inline-block;
  margin: auto;
  background-color: #FFCCCC;
}
h1 {
  
  font-family: 'Nothing You Could Do', cursive;
  
}
h2 {
  font-family: 'Nothing You Could Do', cursive;
}
h3 {
  font-family: 'Nothing You Could Do', cursive;
}
p{
  margin-right: 50px; 
  margin-left: 50px;
}
body {
    background-color: white;
    margin: auto ;

  }
  p {
    font-family: 'Josefin Slab', serif;
    line-height: 25px;
    font-size: 20px;
    left: 15px;
    right: 15px;
  
    } 
a:hover {
        color: grey; 
        }
.circular_logo {
  transform:scale(0.8);
}
.text {
  background: hsla(0, 100%, 90%, 0.3);
}
.form {
  font-family: 'Josefin Slab', serif; 
  font-size: 20px;
}
/* 
blabla
.container{
  font-family: 'Josefin Slab', serif;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
 
 .page1 {
    background-image: url("../img/img_yarden3.jpg");
    background-repeat: no-repeat;
    opacity: 0.2;

     z-index: -1;
  width: 100% !important;
  height: auto !important;
  opacity: 0.2
 }
*/
.img_1 {
  position: absolute;
  z-index: -1;
  

  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 
.class-25 {
  padding: 12px 12px 12px 0;
  display: inline-block; 
  width: 25%;
  font-size: 20px;
  
}
.class-75 {
  font-size: 20px;
  width: 50%;
  text-align: left;
 
}
input[type=checkbox] {
  font-size: 20px;
}
input[type=submit] {
  background-color: rgb(65, 33, 73);
  color: white;
  padding: 12px 20px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 0 10px 20px rgba(0,00,0.1,9), 0 6px 6px rgba(0,0,0,0.23);
  margin-right: 20px;
  line-height: 25px;
  font-size: 20px;

}
input[type=submit]:hover {
  background-color: #8f5497;
}  
.page3 h3{
  
  text-decoration: underline;
} 
.wrap1{
  overflow:hidden;
  width:1200px;
}
.Monday{
  float:left;
  width:30%;
}

.Tuesday {
  float:left;
  min-width:30%;
}

.Wednesday {
  float:left;
  width:30%;
}
.wrap2{
  overflow:hidden;
  width:1200px;
}
.Thursday{
  float:left;
  width:30%;
}

.Friday {
  float:left;
  min-width:30%;
}
.Saturday {
  float:left;
  min-width:30%;
}


/* blabla
input[type=submit] {
  background-color: rgb(65, 33, 73);
  color: white;
  padding: 12px 20px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

input[type=submit]:hover {
  background-color: #8f5497;
}   
.class-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}  

.class-75 {
  float: right;
  width: 75%;
  margin-top: 6px; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/